<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wzryassistant">

    <!-- 申请悬浮窗权限（由用户手动授予）和前台服务权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.WzryAssistant">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 浮动窗口服务 -->
        <service
            android:name=".FloatingWidgetService"
            android:exported="false"/>

        <!-- 屏幕捕捉服务，需要前台服务类型 -->
        <service
            android:name=".ScreenCaptureService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"/>
    </application>

</manifest>
